.p-button {
    padding: var(--primary-btn-padding) !important;
}

.p-divider:not(.pending-divider, .monitor-container-divider):not(
    .highlight-divider,
    .complete
):before {
    border-top-style: solid !important;
    border-top: 0.100rem solid var(--quaternary-bg-color) !important;
}

.p-inputtext:not(.p-inputtextarea) {
    background-color: var(--quaternary-bg-color) !important;
    color: var(--secondary-text-color) !important;
    border-style: none !important;
}
.p-inputtext:focus {
    color: var(--primary-text-color) !important;
}

.p-datatable-tbody>tr>td {
    border: transparent !important;
    font-family: 'RakutenRegular' !important;
    color: var(--primary-text-color) !important;
}

.p-datatable .p-datatable-tbody>tr {
    border: 1px solid var(--quaternary-bg-color) !important;
}

.p-datatable-thead>tr>th {
    background-color: var(--quaternary-bg-color) !important;
    color: var(--secondary-text-color) !important;
}

.p-datatable-tbody>tr:nth-child(odd) {
    background-color: var(--secondary-bg-color) !important;
}

.p-datatable-tbody>tr:nth-child(even) {
    background-color: var(--primary-bg-color) !important;
}

.p-datatable-wrapper {
    border-radius: 10px !important;
    overflow: hidden !important;
    border: 1px solid var(--quaternary-bg-color) !important;
}

.p-datatable .p-datatable-thead>tr>th {
    border-bottom: none !important;
}

.p-datatable.p-datatable-selectable .p-datatable-tbody>tr.p-selectable-row:focus {
    outline: none !important;
    outline-offset: -0.15rem;
}

.p-datatable .p-datatable-tbody>tr:hover {
    /* animation: 'rowHoverAnimation' 1s ease-in-out !important; */
}

@keyframes rowHoverAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
    }
}

.p-datatable .p-datatable-tbody>tr>td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-cancel:focus {
    outline: 0 none;
    outline-offset: 0;
}

.p-datatable .p-datatable-tbody>tr>td .p-row-toggler:enabled:hover,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-init:enabled:hover,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-save:enabled:hover,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-cancel:enabled:hover {
    color: #343a40;
    border-color: transparent;
    background: none !important;
}

.p-checkbox .p-checkbox-box {
    background-color: transparent !important;
    border: 1px solid var(--secondary-border-color) !important;
    outline: 0 none !important;
    box-shadow: none !important;
}
.p-highlight{
    stroke: var(--secondary-border-color);
}

.p-sortable-column-icon > svg {
    stroke: var(--secondary-text-color);
}
.p-checkbox:focus-visible{
    outline: 0 none !important;
    background-color:none !important;
    border: 1px solid var(--secondary-border-color) !important;

}
[class^="p-"]:focus {
    box-shadow: none !important;
}
 
.p-menu.p-menu-overlay {
    background-color: var(--primary-bg-color) !important;
    border: 1px solid gray !important;
}

.p-menuitem .p-menuitem-text {
    color: var(--primary-text-color) !important;
}
.p-menuitem :not(.navbar-item) a:hover {
    background-color: var(--quaternary-bg-color) !important;
}

.p-menu {
    min-width: 10rem !important;
    width: auto !important;
}

.p-paginator {
    margin-top: 3rem !important;
    display: flex !important;
    justify-content: space-between !important;
    background-color: transparent !important;
    border-bottom: none !important;
    padding: 0 !important;
}

.p-paginator .p-paginator-next,.p-paginator-prev .p-paginator-next,.p-paginator-prev:not(.p-disabled):not(.p-highlight):hover {
    background-color: transparent !important;
}
.paginator-nav-btn:hover {
    border-bottom: 2px solid var(--secondary-border-color) !important;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    background-color: var(--secondary-border-color) !important;
    color: #1D2939 !important;
}
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-disabled):not(.p-highlight):hover{
    background-color: var(--secondary-text-color) !important;
}

.p-tooltip-text {
    background-color: var(--primary-bg-color) !important;
    border-radius: 10px !important;
    letter-spacing: 0.05em !important;
}

.p-overlaypanel:after,
.p-overlaypanel:before {
  border-color: transparent !important; /* Change to your desired color */
}

.p-overlaypanel {
    padding: 0 !important;
    background-color: var(--primary-bg-color) !important;
    border-radius: 10px !important;
    border: 2px solid var(--quaternary-bg-color) !important;
}
.p-overlaypanel-content {
    letter-spacing: 0.05em !important;
}

.p-dropdown, .p-dropdown-item.p-highlight, .p-dropdown-label.p-inputtext {
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-border-color) !important;
    color: var(--primary-btn-color) !important;
    font-weight: 600 !important;
}

.p-dropdown-panel {
    padding: 3px 5px !important;
    background-color: var(--primary-bg-color) !important;
    border: 1px solid gray !important;
}
.p-inputwrapper-focus {
    outline: 0 none !important;
    box-shadow: none !important;
}
.p-dropdown-item {
    color: var(--primary-text-color) !important;
}
.p-dropdown-item.p-highlight::after {
    content: url('./_DO-1.0/assets/selectedRight.svg') !important;
    margin-left: 10px !important;
}
.p-dropdown-item:hover{
    border-radius: 0.375rem !important;
    background-color: var(--quaternary-bg-color) !important;
}
.p-dropdown-trigger > svg {
    stroke: var(--primary-border-color) !important;
}
.p-divider-vertical {
    min-height: unset !important;
}

.p-fieldset, .p-fieldset .p-fieldset-legend {
    background-color: transparent !important;
    border: 1px solid #5c5959 !important;
    padding: 0.8rem !important;
}
.p-fieldset-toggler {
    stroke: white !important;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:hover {
    box-shadow: 0 0 0 0.04rem var(--primary-border-color) !important;
}
.p-fieldset-legend-text{
    color: var(--primary-text-color);
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: var(--primary-theme-color) !important
}

.p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
    background-color: none !important;
}
.p-inputswitch-slider {
    background-color: var(--quaternary-bg-color) !important;
}

.input-toggler.p-focus {
    display: none !important
}
.p-button.p-button-outlined:enabled:active {
    background-color: transparent !important;
}
.p-inputtext {
    color: var(--primary-text-color) !important;
}
